<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>flash_track.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>4EF0F0B63A8B081A2F8492137DF8EFDF1C49727E</string>
				<key>dateExpires</key>
				<string>12/20/24</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4EF0F0B63A8B081A2F8492137DF8EFDF1C49727E</string>
						<key>dateExpires</key>
						<string>12/20/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>387CQ9A3LT</string>
						<key>name</key>
						<string>Kostas Papadopoulos</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4EF0F0B63A8B081A2F8492137DF8EFDF1C49727E</string>
						<key>dateExpires</key>
						<string>12/20/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>387CQ9A3LT</string>
						<key>name</key>
						<string>Kostas Papadopoulos</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>387CQ9A3LT.flashtracker</string>
				<key>com.apple.developer.team-identifier</key>
				<string>387CQ9A3LT</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>5e6433fe-99ad-4456-8fc2-ac839d0c6350</string>
				<key>dateExpires</key>
				<string>12/20/24</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: flashtracker</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>387CQ9A3LT</string>
				<key>name</key>
				<string>Kostas Papadopoulos</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.0</string>
		</dict>
	</array>
</dict>
</plist>
